/* CSS for PROJECT: CALCULATOR */
html {
    /* background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 10%, #e2c9cc 15%, #e7627d 28%, #b8235a 45%, #801357 63%, #3d1635 84%, #1c1a27 100%); */
    /* background: linear-gradient(0deg, #1CB5E0 0%, #000851 100%); */
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    width: 100%;
    min-height: 100%;
    margin: 0;
    font-family: 'Cute Font', cursive;  
    font-size: 1.8rem;
    color:white;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
button{
  width: 100%;
  height: 3rem;
  font-family: 'Cute Font', cursive; 
  font-size: 2rem;
  color: white;
  border: none;
  padding: 0;
  background: rgba(0, 0, 0, 0.3);
}
.container{
    width: 50%;
}
.title{
    margin: 0;
    text-align: center;
    width: 100%;
}
.calculator {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}
.screen{
  width: 100%;
  height: 5rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.5rem;
}
.clear{
  width: 100%;
  height: 3rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.2)
}
.numbers{
  width: 100%;
  height: 12rem;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.column{
  width: 100%;
  height: 12rem;
  margin: 0;
}
.operators{
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0 0 1rem 0;
}
.pressed{
  background: rgba(0, 0, 0, 0.4);

}
button:hover{
  background: rgba(0, 0, 0, 0.4);
}
#output{
  margin: 2%;
  width:100%;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
#zero{
  border-radius: 0 0 0 1rem;
}
#plus{
  border-radius: 0 0 1rem 0;
}