/* CSS for PROJECT: CALCULATOR */
html {
  /* background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 10%, #e2c9cc 15%, #e7627d 28%, #b8235a 45%, #801357 63%, #3d1635 84%, #1c1a27 100%); */
  /* background: linear-gradient(0deg, #1CB5E0 0%, #000851 100%); */
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: 'Cute Font', cursive;  
  font-size: 1.8rem;
  color:white;
}
body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
button{
  width: 100%;
  height: 3rem;
  font-family: 'Cute Font', cursive; 
  font-size: 2rem;
  color: white;
  border: none;
  padding: 0;
  background: rgba(0, 0, 0, 0.3);
}
.container{
  width: 50%;
}
.title{
  margin: 0;
  text-align: center;
  width: 100%;
}
.calculator {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 21rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
.screen{
  width: 100%;
  height: 6rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.7rem;
}
.clear{
  width: 100%;
  height: 3rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.2)
}
.numbers{
  width: 100%;
  height: 12rem;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.column{
  width: 100%;
  height: 12rem;
  margin: 0;
}
.operators{
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0 0 1rem 0;
}
.footer{
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pressed{
  background: rgba(0, 0, 0, 0.4);

}
a , a:visited{
  color: white;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}
button:hover{
  background: rgba(0, 0, 0, 0.4);
}
#equation-log{
  margin-left: 2%;
  width:98%;
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
}
#output{
  margin-right: 2%;
  width: 98%;
  height: 2.7rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
}
#zero{
  border-radius: 0 0 0 1rem;
}
#plus{
  border-radius: 0 0 1rem 0;
}